<h5>Showing all quotes</h5>
<div class="row">
  <div class="col-sm-2">
    <h2>Author</h2>
  </div>
  <div class="col-sm-2">
    <h2>Quote</h2>
  </div>
  <div class="col-sm-3">
    <h2>Pirate Speak</h2>
  </div>
  <div class="col-sm-3">
    <h2>Yoda Speak</h2>
  </div>
  <div class="col-sm-2">
    <h2>Action</h2>
  </div>
</div>
<hr>
<% @quotes.each do |q| %>
<div class="row">
  <div class="col-sm-2">
    <h4><%= q.author.titleize %></h4>
  </div>
  <div class="col-sm-2">
    <p><%= q.body %></p>
  </div>
  <div class="col-sm-3">
    <p><%= q.pirate_speak %></p>
  </div>
  <div class="col-sm-3">
    <% if q.yoda_speak %>
    <p><%= q.yoda_speak %></p>
    <% else %>
    <p>Convert to Yoda Speak happens in the background as a rake task, allows me to review as well :)</p>
    <% end %>
  </div>

  <% if q.user == current_user || current_user.admin  %>
  <div class="col-sm-1">
    <%= link_to "Edit", edit_quote_path(q), class: "btn btn-warning btn-xs" %>
  </div>
  <div class="col-sm-1">
    <%= link_to "Delete", quote_path(q), method: :delete, data: {confirm: "This is final, it WILL be erased..."}, class: "btn btn-danger btn-xs" %>
  </div>
  <% end %>
</div>
<hr>
<% end  %>
