<h1>New API Key</h1>
<h4>** Key not valid until saved **</h4>
<p>There will be a notice when it's saved</p>
<hr>
<%= simple_form_for @apikey do |f| %>
  <%= f.input :for, label: "Please tell who or what this is for and how you found this" %>
  <div class="form-group">
    <h3>API Key</h3>
    <h4><%= @key %></h4>
    <%= hidden_field_tag(:key, @key) %>
  </div>
  <%= f.button :submit,"Save API Key",class: "btn btn-success" %>
<% end %>
<hr>
<h3>Usage</h3>
<p>
  All requests require an API key, submit JSON, it returns JSON
</p>
<p>
  All requests go to https://quote-convert-api.herokuapp.com/api/quote
</p>
<h4>Headers</h4>
<p>
  Include headers on all requests
</p>
<p>
  headers:
  { 'Accept': 'application/json',
    'Content-Type': 'application/json',
    'Quote-API-Key': 'YOUR_API_KEY'
  },
</p>
<h4>For POST requests</h4>
<p>
  body:
  { 'quote':'I would like to convert this to Yoda and Pirate speak'
    'author':'AUTHOR' }
</p>
