<h1>New API Key</h1>
<hr>
<%= simple_form_for @apikey do |f| %>
  <%= f.input :for %>
  <div class="form-group">
    <h3>API Key</h3>
    <h4><%= @key %></h4>
    <%= hidden_field_tag(:key, @key) %>
  </div>
  <%= f.button :submit,"Save API Key",class: "btn btn-success" %>
<% end %>
