<h1>New API Key</h1>
<h4>** Key not valid until saved **</h4>
<p>There will be a notice when it's saved</p>
<hr>
<%= simple_form_for @apikey do |f| %>
  <%= f.input :for, label: "Please tell who or what this is for and how you found this.  Thanks!" %>
  <div class="form-group">
    <h3>API Key</h3>
    <h4><%= @key %></h4>
    <%= hidden_field_tag(:key, @key) %>
  </div>
  <%= f.button :submit,"Save API Key",class: "btn btn-success" %>
<% end %>
<hr>
<h3>Usage</h3>
<p>
  All requests require an API key, submit JSON, it returns JSON
</p>
<p>
  All requests go to https://quote-convert-api.herokuapp.com/api/quote
</p>
<h4>Headers</h4>
<p>
  Include headers on all requests
</p>
<p>
  headers: <br>
  { 'Accept': 'application/json', <br>
    'Content-Type': 'application/json', <br>
    'Quote-API-Key': 'YOUR_API_KEY' <br>
  },<br>
</p>
<hr>
<h4>A GET request will return a response with an array of 5 quotes each having:</h4>
<h5>GET  https://quote-convert-api.herokuapp.com/api/quote </h5>
<p>
  { author: "Author", <br>
    pirate_speak: "Pirate speak version", <br>
    quote: "A random quote", <br>
    yoda_speak: "Yoda speak version", <br>
  } <br>

</p>
<hr>
<h4>When using to convert user quote submit data with POST request as:</h4>
<h5>POST  https://quote-convert-api.herokuapp.com/api/quote </h5>
<h4>with</h4>
<p>
  body: <br>
  { 'author':'AUTHOR', <br>
    'quote':'I would like to convert this to Yoda and Pirate speak', <br>
  } <br>
</p>
<hr>
<h4>To search by Author submit POST request as:</h4>
<h5>POST  https://quote-convert-api.herokuapp.com/api/quote/author </h5>
<h4>with</h4>
<p>
  body: <br>
  { 'author':'AUTHOR', <br>
  } <br>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
