<h1>Edit</h1>
<hr>
  <%= simple_form_for @user, url: users_path do |f| %>
  <%= f.input :user_name %>
  <%= f.input :display_name,hint: "The display name for this website so I can say hello when you log in :)" %>
  <% if current_user.admin  %>
    <%= f.input :admin %>
  <% end  %>
  <% if @user.persisted? %>
      <%= f.input :current_password, placeholder: "Fill this out regardless" %>
  <% end %>
  <%= f.input :password,label: 'New Password', label_html: { id: 'catpants' }, input_html: {id:'password'}, placeholder: 'Only fill this out to change your password' %>
  <%= f.input :password_confirmation,label: 'Confirm New Password', placeholder: 'Only fill this out to change your password' %>
  <%= f.button :submit,class: "btn btn-primary" %>
<% end %>
