<h1>All Users</h1>
<hr>
<div class="row">
  <div class="col-sm-4">
    <h3>User Name</h3>
  </div>
  <div class="col-sm-4">
    <h3>Display Name</h3>
  </div>
  <div class="col-sm-2">
    <h3>Number of Contributions</h3>
  </div>
  <div class="col-sm-2">
    <h3>Action</h3>
  </div>
</div>
<hr>
<% @users.each do |q| %>
<div class="row">
  <div class="col-sm-4">
    <h4><%= q.user_name %></h4>
  </div>
  <div class="col-sm-4">
    <h4><%= q.display_name %></h4>
  </div>
  <div class="col-sm-2">
    <h4><%= q.quotes.count %></h4>
  </div>
  <div class="col-sm-1">
    <%= link_to "Edit", edit_user_path(q), class: "btn btn-warning btn-xs" %>
  </div>
  <div class="col-sm-1">
    <%= link_to "Delete", user_path(q), method: :delete, data: {confirm: "This is final, it WILL be erased..."}, class: "btn btn-danger btn-xs" %>
  </div>
</div>
<hr>
<% end  %>
