<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <i>Quotes API</i>
    </div>

    <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li><p class="navbar-text hello">Hello <%= current_user.display_name %>!</p></li>
        <% if current_user.admin  %>
        <li><%= link_to "Create New User", new_user_path %></li>
        <li><%= link_to "Review API Keys", apikeys_path %></li>
        <li><%= link_to "Edit User Access", users_path %></li>
        <% end  %>
        <li><%= link_to "Show All Quotes", quotes_path %></li>
        <li><%= link_to "Edit Your Creds", edit_user_path(current_user) %></li>
        <li><%= link_to "Create Quote", new_quote_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
      </ul>

    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign In", new_session_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
